<!-- Hand-made -->
<launch>
  <include file="$(find s5_3axis)/launch/s5_3axis_simulation.launch"/>
  <include file="$(find s5_3axis_moveit_config)/launch/move_group.launch"/>
  <node pkg="rosserial_python" type="serial_node.py" name="serial_node">
    <param name="port" value="tcp"/>
  </node>
  <node pkg="s5_3axis" name="s5_3axis_random" type="s5_3axis_random.py"/>
</launch>

